<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SD4Version</key>
	<string>5.0.2b3</string>
	<key>SDBreakOnExceptions</key>
	<false/>
	<key>SDBreakpointsEnabled</key>
	<true/>
	<key>SDBundleVersion</key>
	<string>2.0</string>
	<key>SDWindowState</key>
	<dict>
		<key>eventLogWindow</key>
		<dict/>
		<key>resultWindow</key>
		<dict/>
		<key>traceDelay</key>
		<real>0.80000001192092896</real>
		<key>viewControllers</key>
		<dict>
			<key>5DB7CD6C-CD11-4329-8D0D-D5712E631F2A-1068-00002CC2EF4B695B</key>
			<dict>
				<key>debuggerViewState</key>
				<dict>
					<key>expressionsState</key>
					<dict>
						<key>dividerPos</key>
						<real>150</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
					<key>heights4</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>559</integer>
								<integer>468</integer>
								<integer>230</integer>
							</array>
							<key>5</key>
							<array>
								<integer>250</integer>
								<integer>104</integer>
								<integer>318</integer>
								<integer>83</integer>
								<integer>127</integer>
							</array>
						</dict>
					</dict>
					<key>resultState</key>
					<dict>
						<key>explorerState</key>
						<dict>
							<key>dividerPos</key>
							<real>333.33334350585938</real>
							<key>scope2.changedItems</key>
							<integer>1</integer>
							<key>scope2.emptyElements</key>
							<integer>0</integer>
							<key>scope2.filledElements</key>
							<integer>1</integer>
							<key>scope2.props</key>
							<integer>1</integer>
							<key>scope2.unchangedItems</key>
							<integer>1</integer>
							<key>showScopeBar</key>
							<integer>1</integer>
						</dict>
						<key>modes</key>
						<array>
							<string>mode.best</string>
						</array>
						<key>positions2</key>
						<dict>
							<key>positions</key>
							<dict/>
						</dict>
						<key>prettyPrint</key>
						<false/>
						<key>sourceState</key>
						<dict>
							<key>text</key>
							<dict>
								<key>LNSSelection</key>
								<array>
									<dict>
										<key>length</key>
										<integer>0</integer>
										<key>location</key>
										<integer>85</integer>
									</dict>
								</array>
								<key>LNSTextViewShowInvisibles</key>
								<integer>0</integer>
								<key>LNSTextViewShowSpaces</key>
								<integer>0</integer>
								<key>LNSTextViewShowTabStops</key>
								<integer>0</integer>
								<key>LNSTextViewWrapLines</key>
								<integer>1</integer>
								<key>LNSVisibleRect</key>
								<string>{{0, 0}, {424, 280}}</string>
							</dict>
						</dict>
					</dict>
					<key>stackVisible</key>
					<false/>
					<key>variablesState</key>
					<dict>
						<key>dividerPos</key>
						<real>150</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
				</dict>
				<key>eventLogHeight</key>
				<real>174</real>
				<key>inspectorsViewState</key>
				<dict>
					<key>applications</key>
					<dict>
						<key>dividerPos2</key>
						<real>145</real>
						<key>searchFlags</key>
						<integer>167784318</integer>
					</dict>
					<key>clippings</key>
					<dict/>
					<key>heights3</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>312</integer>
								<integer>285</integer>
								<integer>282</integer>
							</array>
						</dict>
					</dict>
					<key>tellContext</key>
					<dict>
						<key>explorer</key>
						<dict>
							<key>dividerPos</key>
							<real>291</real>
							<key>scope2.changedItems</key>
							<true/>
							<key>scope2.emptyElements</key>
							<false/>
							<key>scope2.filledElements</key>
							<true/>
							<key>scope2.props</key>
							<true/>
							<key>scope2.unchangedItems</key>
							<true/>
							<key>showScopeBar</key>
							<true/>
						</dict>
					</dict>
				</dict>
				<key>mainSplitPosition</key>
				<real>434</real>
				<key>modeIdentifier</key>
				<string>tab.rsrcs</string>
				<key>resourcesViewState</key>
				<dict>
					<key>heights2</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>2</key>
							<array>
								<integer>632</integer>
								<integer>656</integer>
							</array>
							<key>3</key>
							<array>
								<integer>447</integer>
								<integer>463</integer>
								<integer>370</integer>
							</array>
						</dict>
					</dict>
					<key>resources</key>
					<dict>
						<key>expanded</key>
						<array/>
						<key>selection</key>
						<array>
							<string>/Users/robjwells/Documents/Scripting/Morning Star/Generators/Filbert Street.app/Contents/Resources/applet.rsrc</string>
						</array>
					</dict>
				</dict>
				<key>scriptViewState</key>
				<dict>
					<key>editorState</key>
					<dict>
						<key>LNSSelection</key>
						<array>
							<dict>
								<key>length</key>
								<integer>0</integer>
								<key>location</key>
								<integer>15623</integer>
							</dict>
						</array>
						<key>LNSTextViewShowInvisibles</key>
						<false/>
						<key>LNSTextViewShowSpaces</key>
						<false/>
						<key>LNSTextViewShowTabStops</key>
						<false/>
						<key>LNSTextViewWrapLines</key>
						<true/>
						<key>LNSVisibleRect</key>
						<string>{{0, 2}, {2084, 1280}}</string>
						<key>ShowLineNumbers</key>
						<false/>
						<key>showCodeCoverage</key>
						<false/>
					</dict>
					<key>instanceID</key>
					<string>69C5902F-CDF1-44A9-8827-59568BE9694E-5636-00003459EE5A82F9</string>
					<key>resultBarVisible</key>
					<false/>
				</dict>
				<key>showEventLog</key>
				<false/>
				<key>tabHeights</key>
				<dict>
					<key>tab.bps</key>
					<real>433</real>
					<key>tab.debug</key>
					<real>817</real>
					<key>tab.rsrcs</key>
					<real>433</real>
				</dict>
				<key>tabsHidden</key>
				<false/>
				<key>windowControllerID</key>
				<string>5DB7CD6C-CD11-4329-8D0D-D5712E631F2A-1068-00002CC2EF4B695B</string>
				<key>windowFrame</key>
				<string>14 55 2546 1358 0 0 2560 1418 </string>
			</dict>
		</dict>
		<key>windowControllers</key>
		<array>
			<dict>
				<key>controllerClass</key>
				<string>ScriptWindowController</string>
				<key>controllerID</key>
				<string>5DB7CD6C-CD11-4329-8D0D-D5712E631F2A-1068-00002CC2EF4B695B</string>
				<key>controllerState</key>
				<dict>
					<key>miniaturized</key>
					<false/>
					<key>windowFrame</key>
					<string>14 55 2546 1358 0 0 2560 1418 </string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
